<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        id="cordova-plugin-optional-camera"
        version="0.0.1">

    <name>OptionalCameraFeature</name>
    <description>A Cordova plugin to show a toast message on Android with an optional camera feature</description>
    <license>Apache 2.0</license>
    <keywords>cordova, plugin, toast, camera</keywords>
    <author>Your Name</author>

    <js-module src="www/OptionalCameraFeature.js" name="OptionalCameraFeature">
        <clobbers target="cordova.plugins.OptionalCameraFeature" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OptionalCameraFeature">
                <param name="android-package" value="com.example.optionalcamera.OptionalCameraFeature" />
            </feature>
        </config-file>
        <source-file src="src/android/OptionalCameraFeature.java" target-dir="src/com/example/optionalcamera" />
    </platform>

    <!-- Remove Camera Permission -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA"
                             tools:node="remove" />
            <uses-feature android:name="android.hardware.camera"
                          android:required="false"
                          tools:node="remove" />
        </config-file>
    </platform>
</plugin>
